language: c
sudo: required
install:
  - wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-ocaml.sh
  - bash -ex .travis-ocaml.sh
  - sudo apt-get install gmp
  - opam install --yes ocamlfind ounit zarith
  - eval `opam config env`

script: make; make test
env:
  - OCAML_VERSION=4.02
os:
  - linux

