language: c
sudo: required
install:
  - wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-ocaml.sh
  - bash -ex .travis-ocaml.sh
  - opam install ocamlfind

script: make; make test
env:
  - OCAML_VERSION=4.02
os:
  - linux

